<h1>wassuphoe</h1>

<div class="supercontainer">
{{#each artistAlbums}}
<div class="container">

<a href="/tracks/{{this.id}}"><img src="{{this.images.1.url}}" alt="{{this.name}}"></a>

<p>{{this.name}}</p>


</div>

{{/each}}
</div>