<h1>wassup</h1>

<form action="/artist-search" method="GET">
<label for="artist"> Search for an Artist</label>
<input type="text" id="artist" name="artist">
<button type="submit"> Search for an artist</button>


</form>